<%- include('../partials/header') %>
<%- include('../partials/headercopy') %>



<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Headsets
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="product-detail accordion-detail">
              <div class="row mb-50">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="detail-gallery">
                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                    <!-- MAIN SLIDES -->
                    <div class="product-image-slider">
                      <% product.media.forEach(image => { %>
                        <figure class="border-radius-10">
                          <img src="/Productimages/<%= image %>" alt="product image">
                        </figure>
                      <% }); %>
                    </div>
                    <!-- THUMBNAILS -->
                    <div class="slider-nav-thumbnails pl-15 pr-15">
                      <% product.media.forEach((image, index) => { %>
                        <div><img src="/Productimages/<%= image %>" alt="product image"></div>
                      <% }); %>
                    </div>
                  </div>
                  <!-- End Gallery -->
                  <!-- <div class="social-icons single-share">
                    <ul class="text-grey-5 d-inline-block">
                      <li><strong class="mr-10">Share this:</strong></li>
                      <li class="social-facebook"><a href="#"><img src="Userassets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                      <li class="social-twitter"> <a href="#"><img src="Userassets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                      <li class="social-instagram"><a href="#"><img src="Userassets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                      <li class="social-linkedin"><a href="#"><img src="Userassets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                    </ul>
                  </div> -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="detail-info">
                    <h2 class="title-detail"><%= product.name %></h2>
                    <div class="product-detail-rating">
                      <div class="pro-details-brand">
                        <!-- <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span> -->
                      </div>
                      <!-- <div class="product-rate-cover text-end">
                        <div class="product-rate d-inline-block">
                          <div class="product-rating" style="width:<%= product.rating %>%">
                          </div>
                        </div>
                        <span class="font-small ml-5 text-muted"> (<%= product.reviews %> reviews)</span>
                      </div> -->
                    </div>
                    <div class="clearfix product-price-cover">
                      <div class="product-price primary-color float-left">
                        <% 
                          let lowestPrice = product.price;
                          if (product.discountPrice > 0 && product.discountPrice < lowestPrice) {
                            lowestPrice = product.discountPrice;
                          }
                          if (product.categoryDiscountPrice > 0 && product.categoryDiscountPrice < lowestPrice) {
                            lowestPrice = product.categoryDiscountPrice;
                          }
                        %>
                        <% if (lowestPrice < product.price) { %>
                          <ins><span class="text-brand new-price"><%= lowestPrice %></span></ins>
                          <ins><span class="old-price font-md ml-15"><%= product.price %></span></ins>
                        <% } else { %>
                          <ins><span class="text-brand"><%= product.price %></span></ins>
                        <% } %>
                      </div>
                    </div>
                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                    <div class="short-desc mb-30">
                      <p><%= product.description %></p>
                    </div>
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    <div class="product-stock">
                      <span class="stock-label">Available Stock: </span>
                      <span class="stock-value"><%= product.stock %></span>
                    </div>
                   
                  
                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                    <div class="detail-extralink">
                      <div class="">
                        <!-- <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a> -->
                      </div>
                      <div class="product-extra-link2">
                        <button type="submit" class="button button-add-to-cart"  data-id="<%= product.id %>" onclick="addToCart('<%= product.id %>')">Add to cart</button>
                        <a aria-label="Add To Wishlist"  class="add-to-wishlist-button"data-id="<%= product.id %>" onclick="addToWishlist('<%= product.id %>')"><i class="fi-rs-heart"></i></a>
                        <!-- <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                      </div>
                    </div>
                    <div class="product-share mt-40">
                      <!-- <strong class="mr-10">Share</strong> -->
                      <!-- <ul class="product-share-icon">
                        <li><a href="#"><i class="fi-rs-facebook"></i></a></li>
                        <li><a href="#"><i class="fi-rs-twitter"></i></a></li>
                        <li><a href="#"><i class="fi-rs-google-plus"></i></a></li>
                        <li><a href="#"><i class="fi-rs-pinterest"></i></a></li>
                        <li><a href="#"><i class="fi-rs-linkedin"></i></a></li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
  
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  async function addToCart(productId) {
    try {
      const response = await fetch('/add-cart', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ productId }),
      });
      const data = await response.json();
      if (data.success) {
        Swal.fire({
          title: 'Success',
          text: 'Product added to cart successfully!',
          icon: 'success',
          confirmButtonText: 'OK',
        });
      } else if (data.error === 'Product already in cart') {
        Swal.fire({
          title: 'Info',
          text: 'Product is already in the cart.',
          icon: 'info',
          confirmButtonText: 'OK',
        });
      } else {
        Swal.fire({
          title: 'Error',
          text: data.error || 'An error occurred while adding the product to cart.',
          icon: 'error',
          confirmButtonText: 'OK',
        });
      }
    } catch (error) {
      Swal.fire({
        title: 'Error',
        text: 'An error occurred while adding the product to cart.',
        icon: 'error',
        confirmButtonText: 'OK',
      });
    }
  }


  async function addToWishlist(productId) {
  try {
    const response = await fetch('/add-wishlist', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ productId }),
    });
    const data = await response.json();
    if (data.success) {
      Swal.fire({
        title: 'Success',
        text: 'Product added to wishlist successfully!',
        icon: 'success',
        confirmButtonText: 'OK',
      });
    } else if (data.error === 'Product already in wishlist') {
      Swal.fire({
        title: 'Info',
        text: 'Product is already in the wishlist.',
        icon: 'info',
        confirmButtonText: 'OK',
      });
    } else {
      Swal.fire({
        title: 'Error',
        text: data.error || 'An error occurred while adding the product to wishlist.',
        icon: 'error',
        confirmButtonText: 'OK',
      });
    }
  } catch (error) {
    Swal.fire({
      title: 'Error',
      text: 'An error occurred while adding the product to wishlist.',
      icon: 'error',
      confirmButtonText: 'OK',
    });
  }
}




  </script>

    <%- include('../partials/footercopy') %>
    <%- include('../partials/footer') %>